PetMoment bro! {{mascotaNombre}} 
<img *ngIf="mascotaActualImagen" [src]="'data:image/jpg;base64,'+mascotaActualImagen"/>
<label>Titulo:</label> 
		<input type="text" class="form-control" name="titulo"  
			[(ngModel)]="titulo" required>

<label>Descripcion:</label> 
		<input type="text" class="form-control" name="descripcion"  
			[(ngModel)]="descripcion" required>

<input type="file"
                    id="filePicker" (change)="cargar($event)">
<button class="btn btn-success"  (click)="submitForm()">Guardar</button>

<div *ngFor="let moment of moments">
<span *ngIf="moment.mascotaID == mascotaID">
	Momentos de la mascota actual
	{{moment.titulo}}
	{{moment.descripcion}}
	{{moment.usuario}}
	{{moment.mascotaNombre}}
	{{moment.fecha | date:'H:mm,d MMMM y'}}
	<img *ngIf="moment.imagenMoment" [src]="'data:image/jpg;base64,'+moment.imagenMoment"/>
</span>
</div>